<section id="about" class="py-5">
  <div class="container">
    <h2 class="section-title text-center" data-aos="fade-up">About Us</h2>
    <div class="row align-items-center">
      <div class="col-lg-6 mb-4 mb-lg-0" data-aos="fade-right">{% load static %}
        <img src="{% static 'image/download.jpg' %}" alt="About Us" class="img-fluid rounded" style='width:500px;height:300px;'>
      </div>
      <div class="col-lg-6" data-aos="fade-left">
        <p class="lead text-muted">
          We are committed to bringing people together to connect, grow, and serve.
          Our mission is to foster spiritual growth, community outreach, and meaningful connections for individuals
          of all backgrounds. Together, we seek to inspire and impact lives positively.
        </p>
        <a href="#contact" class="btn btn-custom">Contact Us</a>
      </div>
    </div>
  </div>
</section>
