<section id="contact" >
    <div class="shadow p-3 mb-5 rounded m-3" style ="background: #B6C9D1;">
      <div class = "container p-3 m-2" >
          <h2 class = "text-center m-1" style ="color: #34323B;" >Join Us</h2>
          <div class="row">
            <div class="col-sm-6 mb-3 mb-sm-0">
              <div class="card mt-2 " style ="background: #B6C9D1;">
                <div class="card-body">
                  <h5 class="card-title" style ="color: #34323B;">Prayer Requests</h5>
                  <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label" style ="color: #34323B;">Email</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" >
                  </div>
                  <div class="mb-3">
                    <label for="exampleFormControlTextarea1" class="form-label" style ="color: #34323B;">Prayer Request</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                  <div class ="text-end">
                     <button type="button" class="btn btn-dark">Send</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 ">
              <div class="card mt-2" style ="background: #B6C9D1;">
                <div class="card-body">
                  <h5 class="card-title" style ="color: #34323B;">Social Media</h5>
                  <a href="mailto:example@gmail.com" class="btn btn-outline-dark">
                    <i class="bi bi-whatsapp"></i>
                  </a>
                  <a href="mailto:example@gmail.com" class="btn btn-outline-dark">
                    <i class="bi bi-facebook"></i>
                  </a>
                  <a href="mailto:example@gmail.com" class="btn btn-outline-dark">
                    <i class="bi bi-youtube"></i>
                  </a>
                  <a href="mailto:example@gmail.com" class="btn btn-outline-dark">
                    <i class="bi bi-envelope-fill"></i> 
                  </a>
                </div>
              </div>
            </div>
            
          </div>
      </div>
    </div>
</section>