<section id="event">
  <div class="shadow p-3 mb-5 rounded m-3" style ="background:#dfc5fe">
    <div class ="container">
      <h2 class = "text-center" style ="color: #34323B;" >Upcoming Events</h2>
        <div class="card m-3 p-3 ">
          <div class="card-header">
            Featured
          </div>
          <div class="card-body">
            <h5 class="card-title" style ="color: #34323B;" >New Year's Eve Meeting</h5>
            <h6 class="card-subtitle mb-2 text-body-secondary mt-1">Date: 31.12.24</h6>
            <h6 class="card-subtitle mb-2 text-body-secondary mt-1">Time: 10:30 pm - 2:00 am</h6>
            <p class="card-text"style ="color: #6F6A6F;">Join us on this New Year’s Eve as we come together to reflect on the year gone by and seek God’s blessings for the year ahead. </p>
         </div>
        </div>
  
    </div>
  </div>
</section>