<!doctype html>
<html lang="en">
  <head>
    {% include 'bootstrap.html' %}
    <title>Alpha AG</title>
    <style>
        html {
            scroll-behavior: smooth;
        }  
    </style>
  </head>
  <body style = "background:#FFFFFF;">
    {% include 'navbar.html' %}
    <div class = "container">
      
      {% include 'home.html' %}
      {% include 'about.html' %}
      {% include 'regular.html' %}
      {% include 'event.html' %}
      {% include 'contact.html' %}
      {% include 'footer.html' %}
    </div>
  </body>
</html>