<nav class="navbar bg-transparent border-bottom border-body shadow-sm flex-nowrap flex-row">
  <div class="container-fluid ">
    <a class="navbar-brand" href="/">Alpha AG Church</a>
    
    
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0 flex-nowrap flex-row"> <!-- Center items -->
        <li class="nav-item">
          <a class="nav-link" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#event">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
    
  </div>
  
</nav>
