<div class = "container">
 <div class="card">
    <h2 class="card-header text-center" style ="background: #E9EEF2;">Sunday Services</h2>
    <div class="card-body">
        
            
              <div class="card m-2 shadow">
                <div class="card-body">
                  <h5 class="card-title">Morning Service</h5>
                  <p class="card-text">Time: 9:30am - 12:30pm</p>
                 
                </div>
              </div>
              <br>
              <div class="card m-2 shadow">
                <div class="card-body">
                  <h5 class="card-title">Evening Service</h5>
                  <p class="card-text">Time: 6:30pm - 8:30pm</p>
                 
                </div>
              </div>
          
    </div>
 </div>
</div>
